body {
    background-image: url("https://thumb9.shutterstock.com/display_pic_with_logo/2117717/381189202/stock-photo-blog-social-media-networking-content-blogging-concept-381189202.jpg");
    background-size: 100%;
    background-attachment: fixed;
}


h1{
    text-align: center;
    text-shadow: 2px 2px whitesmoke;
    font-weight: bold;
    font-style: oblique;
    font-size: 45px;
    color: #5B289E;
}


.icon-bar {
    top: 950px;
    font-size: 50px;

}


div.col-12 {
    top: 700px;
}

h2 {
    color: #00aced;
    font-weight: initial;
    font-stretch: extra-expanded;

}


#posts {
    opacity: 0.8;
    background-color: #848487;
}