* {
    background-color: whitesmoke;
    padding: 1em;
    width: 100%;
    bottom: 10px;
    float: end;
    margin-right: 5px;
    box-sizing: border-box;


}
@media screen and(max-width:768px) {

    .column.one-third, .column.one-half {
    width: 100%;
    }
}



h1 {
    top: 100px;
    text-align: center;
}

.column {
    padding: 10px;
    grid-auto-flow: column;
    width: 100%;
    height: 2vh;
    color: black;
    background-color: lightgrey;
    font-weight: bold;
}

.column.one-half {
    width: 100%;
    border: 2px solid black;
    font-size: 9px;

}

.column.one-third {
    width: 100%;
    border: 2px solid black;
    font-size: 8px;
    float: end;

}

.column.one-fourth {
    width: 100%;
    border: 2px solid black;
    font-size: 8px;
}

.column.one-eight {
    width: 100%;
    border: 2px solid black;
    font-size: 9px;
    float: end;
    margin: auto;

}


.container {
    display: grid;
    /*background-color: midnightblue;*/
    /*grid-column-gap: 50px;*/
    grid-template-rows: auto auto;
    /*margin: 0 auto;*/
    width: 100%;
    grid-template-columns: 1fr 1fr;
    /*grid-gap: 10px;*/

}

.link {
    display: grid;
    /*background-color: darkslategrey;*/
    /*grid-column-gap: 5px;*/
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.cookies {
    /*background-color: #3B94D9;*/
    /*grid-template-columns: 50px 50px 50px 50px;*/
    width: 100%;
    display: grid;
    /*display: inline-grid;*/
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}


.style {
    display: grid;
    /*background-color: #DDDDDD;*/
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.drows {
    display: grid;
    width: 100%;
    /*background-color: #E74C3C;*/
    grid-template-columns: .5fr 1fr .5fr .5fr;
    grid-template-rows: auto auto;
}

