body, html {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
    text-indent: 10px;



}

 /*
    Anything that should target ALL messages should be below
 */
message {
    margin: 10px;
    width: 75% 50%;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    border: 1px solid lightgray;
}

 /* Anything specific to info should go here */
 .message-info {
    color: indigo;
    background-color: cornflowerblue;
     margin-bottom: 10px;
     top: 25px;
}
.message-success {
    color: green;
    background-color: lightgreen;
    margin-bottom: 10px;
}
.message-warning {
    color: darkgoldenrod;
    background-color: yellow;
    margin-bottom: 10px;

}
.message-error {
    color: darkred;
    background-color: red;
    margin-bottom: 10px;
}

