/** {*/
    /*box-sizing: border-box;*/
/*}*/

body {
    background-color: #1969B2;
    font-family: "American Typewriter";
    color: #343050;
    font-style: italic;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
body {
    background-color: lightgray;
}
}

li {
    border: white;
    background-color: black;
    margin: 1em;
    padding: 1em;
    list-style-type: none;
}

.header-img img {
    width:100%;
    margin: auto;
}


h1 {
    font-family: Baskerville;
    letter-spacing: 4px;
    text-align: center;

}

ul {
    padding: 0.5em;
}

h2{
    font-stretch: extra-expanded;
    font-style: italic;
}



}




